import init.stuttgart.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0666 /dev/ttySAC0
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/proto
   // chown bluetooth bluetooth /data/misc/bluetoothd/bdaddr_mac
   // chmod 0660 /data/misc/bluetoothd/bdaddr_mac
   // setprop ro.bt.bdaddr_path /data/misc/bluetoothd/bdaddr_mac
    chmod 0660 /proc/bt_wakelock
    chown bluetooth bluetooth /proc/bt_wakelock
    symlink /data/local /local

    mkdir /preload 0771 system system

    mkdir /storage/sdcard0 0700 system system
    mkdir /storage/sdcard1 0700 system system

    #External storage directories
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard0 /storage/sdcard
    symlink /storage/sdcard1 /storage/external_sd
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /mnt/external_sd

### add by linkscue, start
########################################
# set power reason for leos
on property:ro.bootmode=power_key
    setprop rocket.power.on.type.hex 0x01
on property:ro.bootmode=rtc_alarm
    setprop rocket.power.on.type.hex 0x02
on property:ro.bootmode=normal
    setprop rocket.power.on.type.hex 0x08
on property:ro.bootmode=usb_cable
    setprop rocket.power.on.type.hex 0x20
on property:ro.bootmode=ac_charger
    setprop rocket.power.on.type.hex 0x40


### on past-fs: add by linkscue start
on post-fs
    # enable debugfs
    mount debugfs none /sys/kernel/debug


on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
     mkdir /data/media 0775 media_rw media_rw
     chown media_rw media_rw /data/media

#add for the samsung ISP patch
     mkdir /data/fimcis 0775 system system
### on past-fs-data: add by linkscue start
    mkdir /data/local 0771 shell shell

    # add APlog dir
    mkdir /data/local/log 0771 system system
    mkdir /data/local/log/aplog 0777 system system
    mkdir /data/local/log/bplog 0777 system system
    mkdir /data/local/log/aplog/sec_debug 0777 system system

# Added by Yamaha Corporation.-----------------------------------------
    chmod 0666 /dev/snd/pcmC0D0c
    chmod 0666 /dev/snd/pcmC0D0p
    chmod 0666 /dev/snd/controlC0
    chmod 0666 /dev/snd/timer
    chmod 0666 /dev/snd/hwC0D0
    mkdir /data/ymc
    chown media media /data/ymc
# mkdir setup for Yamaha
    mkdir /data/ymc/setup
    chown system system /data/ymc/setup

# Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1
#-----------------------------------------------------------------------
### on past-fs-data: add by linkscue start

on boot
    setprop ro.build.product stuttgart
    setprop ro.product.device stuttgart
    setprop ro.radio.noril yes
### on boot: add by linkscue start
# ---1
#   chown system input /sys/bus/i2c/devices/4-000f/enable
#   chown system input /sys/bus/i2c/devices/4-000f/poll
    chown system input /sys/bus/i2c/devices/7-0039/enable_ps_sensor
    chown system input /sys/bus/i2c/devices/7-0039/enable_als_sensor
    chown system input /sys/bus/i2c/devices/7-0039/als_poll_delay
    chown system input /sys/bus/i2c/devices/7-0039/pilt
    chown system input /sys/bus/i2c/devices/7-0039/piht
    chown system input /sys/bus/i2c/devices/7-0039/control
    chown system input /sys/bus/i2c/devices/7-0039/hwver
    chown system input /sys/kernel/nvm/psctrl
    chown system input /sys/kernel/nvm/pscal
    chown system system /sys/kernel/nvm/wsinfo

    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input4/wake
    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input5/wake
    chown compass input /sys/class/input/input6/offsets
    chown compass input /sys/class/input/input6/dynamic_matrix
    chown system input /sys/class/input/input7/enable
    chown system input /sys/class/input/input7/delay
    chown system input /sys/class/input/input7/wake

    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink

# ---2
    chmod 0660 /sys/devices/platform/smm_modem/usbctl
    chown system system /sys/devices/platform/smm_modem/usbctl

# ---3
    chown system system /sys/devices/platform/stuttgart-gpio-keypad/disabled_keys
    chown system system /sys/module/stuttgart_lcd/parameters/ce_control

#add for gps
# For GPIOs for REG_PU and nReset
    chown root system /sys/devices/system/gpslenovo/regpu
    chown root system /sys/devices/system/gpslenovo/reset
### on boot: add by linkscue end

# For NVRAM data of gps daemon
    mkdir /data/gps 771 system system
    chown gps system /data/gps

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,262144,4096,16384,262144
    setprop net.tcp.buffersize.hsupa   4094,87380,262144,4096,16384,262144
    setprop net.tcp.buffersize.hsdpa   4094,87380,262144,4096,16384,262144
    setprop net.tcp.buffersize.hspap   4094,87380,1220608,4096,16384,1220608
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680
    setprop net.tcp.buffersize.evdo    4094,87380,262144,4096,16384,262144

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

on fs
    mount_all fstab.stuttgart

### on fs: add by linkscue start
    wait /dev/block/mmcblk0p2
    mount ext4 /dev/block/mmcblk0p2 /system ro wait
    wait /dev/block/mmcblk0p3
    exec /system/bin/e2fsck -y /dev/block/mmcblk0p3
    mount ext4 /dev/block/mmcblk0p3 /data wait nosuid nodev noatime usedm discard,noauto_da_alloc,nodelalloc
    mount ext4 /dev/block/mmcblk0p5 /cache wait nosuid nodev noatime nomblk_io_submit
    mount ext4 /dev/block/mmcblk0p7 /preload wait nosuid nodev noatime nomblk_io_submit
### on fs: add by linkscue start

# Permissions for backlight
    chmod 0664 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p3 \
            /dev/block/mmcblk0p5
    class core
    user root
    group root
    oneshot

#add for wifi   +++++++
on boot
    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    #Create the symlink to qcn wpa_supplicant folder for ar6000 wpa_supplicant
    mkdir /data/system 0775 system system
    #symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant

    setprop wifi.interface wlan0

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd


service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKLG
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep1 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep2 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep3 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep4 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service wlanmode_insmod /system/bin/insmod /system/lib/modules/bcmdhd.ko firmware_path=/system/etc/firmware/sdio-g-mfgtest.bin
    class main
    disabled
    oneshot

service wlanmode_rmmod /system/bin/rmmod bcmdhd
    class main
    disabled
    oneshot

service wlanmode_open /system/bin/ifconfig wlan0 up
    class main
    disabled
    oneshot

# add by zhongwei1@lenovo.com for the jcommand
service jcommand /system/bin/sh /system/bin/jcommand.sh
    class main
    disabled
    oneshot

service wlanmode_close /system/bin/ifconfig wlan0 down
    class main
    disabled
    oneshot

on property:wlan.test.load=1
    start wlanmode_insmod

on property:wlan.test.load=0
    start wlanmode_rmmod

on property:wlan.test.open=1
    start wlanmode_open

on property:wlan.test.open=0
    start wlanmode_close

#add for wifi   -------

# adding Telephony
service stmd  /system/bin/stmd
    class main
    socket modem-status stream 777 root radio
    socket clean-up stream 660 radio system
    user root
    group radio cache inet misc
    oneshot

# Load Intrinsyc RapidRIL
# TODO: PLEASE REMOVE service ril-daemon FROM init.rc
service ril-daemon /system/bin/rild -l /system/lib/librapid-ril-core.so -- -a /dev/gsmtty2 -n /dev/gsmtty3 -m /dev/gsmtty4 -c /dev/gsmtty6 -u /dev/gsmtty8  -d /dev/gsmtty10 -d /dev/gsmtty11
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log

# Run service
service gps-demon /system/bin/glgps -c /system/etc/gpsconfig.xml
    socket gps seqpacket 0660 gps system
    user gps
    group system inet sdcard_rw
    class main
#--

service fusiond /system/bin/fusiond
    class main
    user compass
    group input

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

